element.style {
}
user agent stylesheet
.line-content {
    padding: 0px 5px !important;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: baseline;
    unicode-bidi: isolate;
    padding: 0px !important;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    font-size: initial;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0px;
    white-space: pre;
}