header {
    text-align: center;
    background-color: #4ab4ff;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #4ab4ff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer p#copy {
    text-align: center;
    background-color: #4ab4ff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

footer a {
    justify-content: space-around;
    color: black;
}

body {
    text-align: center;
}

div#content {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

nav a {
    color: black;
}

nav p {
    font-family: helvetica, 'Times New Roman', Times;
    font-size: larger;
    background-color: #9902be;
    width: 100%;
}

#logo_link img {
    width: 70%;
    border-radius: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

p {
    font-size: 20px;
    background-color: white;
    color: #9902be;
    width: 100%;
    text-align: center;
}

#personal img {
    width: 30%;
}

/*this is the next page Cinderwing*/

.page2 p {
    background-color: aqua;
}

.dragon img {
    border: 10px solid black;
    width: 100%;
    box-sizing: border-box;
}

.dragon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dragon div {
    width: 100%;
}

/*this is the next page Heroic Studio*/

.page3 p {
    background-color: aqua;

}

.writing img {
    border: 10px solid black;
    width: 100%;
    box-sizing: border-box;
}

.writing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.writing div {
    width: 100%;
}