header {
    text-align: center;
    background-color: #4ab4ff;
    display: grid;
    grid-template-columns: 150px 2/5;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #4ab4ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-top: 10px solid white;
}

footer p#copy {
    text-align: center;
    background-color: #4ab4ff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}

footer a {
    color: black;
}

.social a {
    text-decoration: none;
}

footer a:hover {
    color: red;
}

body {
    text-align: center;
    background-color: rgba(49, 49, 49, 0.89);
}

div#content {
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;
    border-left: 20px solid grey;
    border-right: 20px solid grey;
    border-bottom: 20px solid black;
    border-top: 20px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

nav a {
    color: black;

}

nav a:hover {
    background-color: white;
    color: red;
}

nav p {
    font-family: helvetica, 'Times New Roman', Times;
    font-size: larger;
    background-color: #9902be;
    width: 100%;
}

#logo_link img {
    width: 20%;
    border-radius: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

p {
    font-size: 20px;
    background-color: rgb(196, 252, 206);
    color: #9902be;
    width: 100%;
    text-align: center;
}

#personal img {
    width: 30%;
    border: 10px solid rgb(247, 125, 125);
}

/*this is the next page Cinderwing*/

.page2 p {
    background-color: 196, 252, 206;
}

.dragon img {
    border: 10px solid black;
    width: 100%;
    box-sizing: border-box;
}

.dragon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 10px solid white;
}

.badge {
    width: 20%;
}

.dragon div {
    width: 100%;
    background-color: rgb(196, 252, 206);
}

/*this is the next page Heroic Studio*/

.page3 p {
    background-color: 196, 252, 206;
}

.tag {
    width: 20%;
}

.writing img {
    border: 10px solid black;
    width: 100%;
    box-sizing: border-box;
}

.writing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 10px solid white;
}

.writing div {
    width: 100%;
    background-color: rgb(196, 252, 206);
}
}