header {
    text-align: center;
    background-color: #4ab4ff;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #4ab4ff;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

footer a {
    justify-content: space-around;
    font-size: 20px;
    color: black;
}

body {
    text-align: center;
}

div#content {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

nav a {
    color: black;
}

nav p {
    font-family: helvetica, 'Times New Roman', Times;
    font-size: larger;
    background-color: #9902be;
    width: 100%;
}

#logo_link img {
    width: 70%;
    border-radius: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

p {
    font-size: 20px;
    background-color: white;
    color: #9902be;
    width: 100%;
    text-align: center;
}

#personal img {
    width: 30%;
}

/*this is the next page Cinderwing*/

.butterfly img {
    border: 10px solid black;

}

.wolf img {
    border: 10px solid black;

}

.crab img {
    border: 10px solid black;

}

.smalltower img {
    border: 10px solid black;

}

.tower img {
    border: 10px solid black;

}

.tails img {
    border: 10px solid black;

}

.long img {
    border: 10px solid black;

}

.unicorn img {
    border: 10px solid black;

}

.manta img {
    border: 10px solid black;

}

.page2 p {
    background-color: aqua;

}

/*this is the next page Heroic Studio*/

.helmet img {
    border: 10px solid black;

}

.jolt img {
    border: 10px solid black;

}

.pot img {
    border: 10px solid black;

}

.wind img {
    border: 10px solid black;

}

.zed img {
    border: 10px solid black;

}

.flare img {
    border: 10px solid black;

}

.mega img {
    border: 10px solid black;

}

.lamp img {
    border: 10px solid black;

}

.evilgreen img {
    border: 10px solid black;

}

.page3 p {
    background-color: aqua;

}